@utility tt-xs {
    font-weight: 400;
    font-size: var(--text-xs);
    line-height: var(--leading-xs);
}
@utility tt-sm {
    font-weight: 400;
    font-size: var(--text-sm);
    line-height: var(--leading-sm);
}
@utility tt-md {
    font-weight: 400;
    font-size: var(--text-md);
    line-height: var(--leading-md);
}
@utility tt-lg {
    font-weight: 400;
    font-size: var(--text-lg);
    line-height: var(--leading-lg);
}
@utility tt-xl {
    font-weight: 400;
    font-size: var(--text-xl);
    line-height: var(--leading-xl);
}
@utility td-xs {
    font-weight: 400;
    font-size: var(--text-display-xs);
    line-height: var(--leading-display-sm);
}
@utility td-sm {
    font-weight: 400;
    font-size: var(--text-display-sm);
    line-height: var(--leading-display-sm);
}
@utility td-md {
    font-weight: 400;
    font-size: var(--text-display-md);
    line-height: var(--leading-display-md);
    letter-spacing: var(--tracking-display-md);
}
@utility td-lg {
    font-weight: 400;
    font-size: var(--text-display-lg);
    line-height: var(--leading-display-lg);
    letter-spacing: var(--tracking-display-lg);
}
@utility td-xl {
    font-weight: 400;
    font-size: var(--text-display-xl);
    line-height: var(--leading-display-xl);
    letter-spacing: var(--tracking-display-xl);
}
@utility td-2xl {
    font-size: var(--text-display-2xl);
    line-height: var(--leading-display-2xl);
    letter-spacing: var(--tracking-display-2xl);
}
@utility tt-xs-md {
    font-weight: 500;
    font-size: var(--text-xs);
    line-height: var(--leading-xs);
}
@utility tt-sm-md {
    font-weight: 500;
    font-size: var(--text-sm);
    line-height: var(--leading-sm);
}
@utility tt-md-md {
    font-weight: 500;
    font-size: var(--text-md);
    line-height: var(--leading-md);
}
@utility tt-lg-md {
    font-weight: 500;
    font-size: var(--text-lg);
    line-height: var(--leading-lg);
}
@utility tt-xl-md {
    font-weight: 500;
    font-size: var(--text-xl);
    line-height: var(--leading-xl);
}
@utility td-xs-md {
    font-weight: 500;
    font-size: var(--text-display-xs);
    line-height: var(--leading-display-xs);
}

@utility td-sm-md {
    font-weight: 500;
    font-size: var(--text-display-sm);
    line-height: var(--leading-display-sm);
}
@utility td-md-md {
    font-weight: 500;
    font-size: var(--text-display-md);
    line-height: var(--leading-display-md);
    letter-spacing: var(--tracking-display-md);
}
@utility td-lg-md {
    font-weight: 500;
    font-size: var(--text-display-lg);
    line-height: var(--leading-display-lg);
    letter-spacing: var(--tracking-display-lg);
}
@utility td-xl-md {
    font-weight: 500;
    font-size: var(--text-display-xl);
    line-height: var(--leading-display-xl);
    letter-spacing: var(--tracking-display-xl);
}
@utility td-2xl-md {
    font-weight: 500;
    font-size: var(--text-display-2xl);
    line-height: var(--leading-display-2xl);
    letter-spacing: var(--tracking-display-2xl);
}
@utility tt-xs-semi {
    font-weight: 600;
    font-size: var(--text-xs);
    line-height: var(--leading-xs);
}
@utility tt-sm-semi {
    font-weight: 600;
    font-size: var(--text-sm);
    line-height: var(--leading-sm);
}
@utility tt-md-semi {
    font-weight: 600;
    font-size: var(--text-md);
    line-height: var(--leading-md);
}
@utility tt-lg-semi {
    font-weight: 600;
    font-size: var(--text-lg);
    line-height: var(--leading-lg);
}
@utility tt-xl-semi {
    font-weight: 600;
    font-size: var(--text-xl);
    line-height: var(--leading-xl);
}
@utility td-xs-semi {
    font-weight: 600;
    font-size: var(--text-display-xs);
    line-height: var(--leading-display-xs);
}
@utility td-sm-semi {
    font-weight: 600;
    font-size: var(--text-display-sm);
    line-height: var(--leading-display-sm);
}
@utility td-md-semi {
    font-weight: 600;
    font-size: var(--text-display-md);
    line-height: var(--leading-display-md);
    letter-spacing: var(--tracking-display-md);
}
@utility td-lg-semi {
    font-weight: 600;
    font-size: var(--text-display-lg);
    line-height: var(--leading-display-lg);
    letter-spacing: var(--tracking-display-lg);
}
@utility td-xl-semi {
    font-weight: 600;
    font-size: var(--text-display-xl);
    line-height: var(--leading-display-xl);
    letter-spacing: var(--tracking-display-xl);
}
@utility td-2xl-semi {
    font-weight: 600;
    font-size: var(--text-display-2xl);
    line-height: var(--leading-display-2xl);
    letter-spacing: var(--tracking-display-2xl);
}
